<% layout('layouts/mainpage') %>
    <div class="container ">



        <div class='row justify-content-center'>



            <div class='col-sm-8'>
                <div class="text-center"> <strong class='lead' style="color:rgb(224, 224, 233)"> Attendence of, <b>
                            <%=user.username.toUpperCase()%>
                        </b></strong>
                </div>
                <br>
                <div class='row text-center'>


                    <table class='table table-bordered table-hover table-striped table-responsives'
                        style="background-color: #fafcfd;">
                        <thead>
                            <th>Date</th>
                            <th>Entry time</th>
                            <th>Exit time</th>
                            <th>On Leave</th>
                            <th>Status</th>
                            <th>Total Time</th>
                            <th>Update Status</th>


                        </thead>
                        <tbody>
                            <%user.attendance.forEach(a=>{%>
                                <tr>
                                    <%if(!a.onleave){%>
                                        <td>
                                            <%=a.date.toDateString()%>
                                        </td>

                                        <td>
                                            <%=a.entry.toLocaleTimeString()%>
                                        </td>

                                        <td>
                                            <%if(a.exit.time){%>
                                                <%=a.exit.time.toLocaleTimeString()%>
                                                    <%}%>
                                        </td>

                                        <td>
                                            <%=a.onleave%>
                                        </td>
                                        <td>
                                            <%=a.status%>
                                        </td>
                                        <td>
                                            <%if(a.entry&&a.exit.time){%>
                                                <%totalt=a.exit.time-a.entry%>
                                                    <%totalt=parseFloat(totalt / (3600 * 1000)).toFixed(4);%>
                                                        <%let f=parseInt(totalt);%>
                                                            <%let s=parseInt((totalt - f) * 60);%>
                                                                <%let t=parseInt(((totalt - f) * 60 - s) * 60);%>
                                                                    <%=a.totaltime=f + ':' + s + ':' + t;%>
                                                                        <% } %>

                                        </td>
                                        <td>

                                            <ul>


                                                <a class="dropdown-toggle active btn btn-warning" href="#" role="button"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Pending
                                                </a>
                                                <div class="dropdown-menu" style=" background-color: #b9b1b1;">
                                                    <% if(a.status==="Pending" ) {%>

                                                        <form class="dropdown-item"
                                                            action="/admins/<%=user._id%>/approved/<%=a._id%>?_method=PUT"
                                                            method="POST"><button class="btn btn-info">Approve</button>
                                                        </form>
                                                        <form class="dropdown-item"
                                                            action="/admins/<%=user._id%>/rejected/<%=a._id%>?_method=PUT"
                                                            method="POST"><button class="btn btn-info">Reject</button>
                                                        </form>


                                                        <% } else {%>

                                                            <P><b>You can't change status once updated</b></P>

                                                            <%}%>
                                                </div>

                                            </ul>
                                        </td>


                                        <%}else{%>
                                            <td>
                                                <%=a.date.toDateString()%>
                                            </td>

                                            <td>
                                                <%="Not Available"%>
                                            </td>

                                            <td>
                                                <%if(a.exit.time){%>
                                                    <%="Not Available"%>
                                                        <%}%>
                                            </td>

                                            <td>
                                                <%=a.onleave%>
                                            </td>
                                            <td>
                                                <%=a.status%>
                                            </td>
                                            <td>
                                                <%="Not Available"%>
                                            </td>
                                            <td>

                                                <ul>

                                                    <a class="dropdown-toggle active btn btn-warning" href="#"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        Pending
                                                    </a>
                                                    <div class="dropdown-menu" style=" background-color: #b9b1b1;">
                                                        <% if(a.status==="Pending" ) {%>

                                                            <form class="dropdown-item"
                                                                action="/admins/<%=user._id%>/approved/<%=a._id%>?_method=PUT"
                                                                method="POST"><button
                                                                    class="btn btn-info">Approve</button>
                                                            </form>
                                                            <form class="dropdown-item"
                                                                action="/admins/<%=user._id%>/rejected/<%=a._id%>?_method=PUT"
                                                                method="POST"><button
                                                                    class="btn btn-info">Reject</button></form>

                                                            <% } else {%>
                                                                <P><b>You can't change status once updated</b></P>
                                                                <%}%>
                                                    </div>

                                                </ul>
                                            </td>
                                            <%}%>

                                </tr>
                                <%})%>

                        </tbody>
                    </table>
                    <h4><a class="btn btn-danger text-center" href="/admins/list">Employees Collection Page</a></h4>

                </div>
            </div>


        </div>